.prepend-3 {
    padding-left: 30px;
}

.region-footer {
    text-align: left;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-left: 13px;
}

.region-footer .menu {
    position: relative;
    margin: 10px auto;
    height: 19px;
}

.region-footer li {
    height: 19px;
    display: block;
    background-color: transparent;
}

.region-footer li {
    margin: 0;
    padding: 0 6px 0 0;
    list-style: none;
    position: absolute;
    top: 0;
}

.region-footer li a {
    height: 19px;
    display: block;
    font-weight: bold;
    background-color: #fff;
}


.employment {
	left:0px;
	background:url(/sites/all/themes/nymta/_assets/images/footer_sprite_new.png) no-repeat 80px 0;
	width:98px;
}

.shop {
	left:129px;
	background:url(/sites/all/themes/nymta/_assets/images/footer_sprite_new.png) no-repeat 60px 0;
	width:100px;
}


.museum{
	left:258px;
	background:url(/sites/all/themes/nymta/_assets/images/footer_sprite_new.png) no-repeat 55px 0;
	width:125px;
}

.pim {
	left:402px;
	background:url(/sites/all/themes/nymta/_assets/images/footer_sprite_new.png) no-repeat 35px 0;
	width:125px;
}

.aft{
	left:549px;
	background:url(/sites/all/themes/nymta/_assets/images/footer_sprite_new.png) no-repeat 0 0;
	width:116px;
	}
	
.social{
	left:685px;
	background:url(/sites/all/themes/nymta/_assets/images/footer_sprite_new.png) right no-repeat;-75px 0;
	width:157px;
}
